@import "other/mixins";
html.auth #mainWrapper{
	height: 100%;
	color: red;

}
#mainWrapper .authPage{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	form{
		padding: 80px 50px;
		background: #fff;
	}
	input[type="text"],
	input[type="password"]{
		border: 1px solid #c6c9ce;
		padding: 5px 10px;
		background: #fff;
		font-size: 16px;
		display: inline-flex;
		align-items: center;
		box-sizing: border-box;
		&.uncomplete{
			border: 1px solid red;
		}
	}
	input[type='submit']{
		background: map-get($colors, sea);
		border: 1px solid map-get($colors, sea);
		font-size: 16px;
		&:hover{
			background: darken(map-get($colors, sea) , 10%);
		}
	}
}