@import "other/sprite";
@import "other/mixins";

input[type='checkbox'] {
  cursor: pointer;
}

.custom-checkbox {
  user-select: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.ie8 .custom-checkbox {
  zoom: 1;
}

.custom-checkbox > .box {
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  background: #c6ccd4;
  border-radius: 3px;
  transition: box-shadow 0.12s ease-in-out;
}

.uncomplete + .box {
  box-shadow: 0 0 5px 2px red;
}

.custom-checkbox > .box > .tick {
  position: absolute;
  left: 1px;
  top: -2px;
  width: 15px;
  height: 6px;
  border-bottom: 2px solid red;
  border-left: 2px solid red;
  transform: rotate(-57deg) skew(-13deg);
  display: none;
}

.oldie .custom-checkbox > .box > .tick {
  left: 1px;
  top: -5px;
  zoom: 1;
}

.custom-checkbox > input:checked + .box > .tick {
  display: block;
}

.custom-checkbox.checked > .box > .tick {
  display: block;
}

.custom-checkbox > input {
  position: absolute;
  outline: none;
  left: 0;
  top: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  margin: 0;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

input[type='submit'], button, .defaultButton, input[type='submit']{
  cursor: pointer;
  border: none;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  color: #fff;
  display: inline-block;
  background: map-get($colors, sea);
  border-radius: 3px;
  padding: 5px 15px 5px 15px;
  letter-spacing: 0px;
  transition: all 0.12s ease;
  text-decoration: none;
  &:hover{
    background: darken( map-get($colors, sea), 10% );
    text-decoration: none;
  }
  &:disabled,
  &:disabled:hover,{
    background: map-get($colors, desc);
  }
}

