@import "other/mixins";
#mainWrapper{
	font-family: 'Fira Sans';
	min-width: 1240px;
	overflow: hidden;
}
.layout{
	margin: 0 auto;
	max-width: 1280px;
	padding: 0 15px;
}
header{
	width: 100%;
	.layout{
		padding-top: 15px;
		padding-bottom: 15px;
		display: flex;
		align-items: center;
	}
	.title{
		font-size: 28px;
		line-height: 28px;
		font-weight: bold;
		color: map-get($colors, blueText);
	}
	.user{
		font-size: 16px;
		margin-left: auto;
		display: flex;
		align-items: center;
		.userInfo{
			.name{
				margin-bottom: 4px;
			}
			.organization{
				font-size: 13px;
			}			
		}

		.logout{
			margin-left: 20px;
			a{
				text-decoration: none;
				display: flex;
				align-items: center;
				color: map-get($colors, text);
				fill: map-get($colors, text);
				.txt{
					margin-right: 6px;
				}
				.icon{
					width: 16px;
					height: 16px;
				}
				&:hover{
					color: map-get($colors, blueText);
					fill: map-get($colors, blueText);
				}
			}
		}
	}
}
.headerMenu{
	width: 100%;
	background: #454d58;
	color: #fff;
	font-size: 14px;
	.layout{
		display: flex;
	}
	.item{
		a{
			color: #fff;
			background: #454d58;
			transition: all 0.12s ease;
			padding: 15px 10px;
			display: block;
			text-decoration: none;
			&:hover{
				background: #4d5965;
			}
		}
	}
}
#mainWrapper table{
	font-size: 14px;
	td, th{
		border: 1px solid #eaebed;
		padding: 10px 8px;
		position: relative;
	}
	th{
		font-weight: bold;
		color: map-get($colors, blueText);		
	}
	td{
		color: map-get($colors, text);
		&:after{
			content: '';
			display: none;
			height: 3px;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
		}
		&.green:after{
			display: block;
			background: #00C105;
		}
		&.yellow:after{
			display: block;
			background: #F6F800;
		}
		&.blue:after{
			display: block;
			background: #0107EB;
		}
	}
	.oddrow{
		td{
			background: #fbfcfe;
		}
	}
}
#mainWrapper .homepage .content{
	padding-top: 20px;
	padding-bottom: 50px;
}
#mainWrapper .homepage table{
	margin: 0 auto 15px;
	font-size: 12px;
	td, th{
		padding: 6px 4px;
	}
	a{
		background: #3878b5;
		cursor: pointer;
		text-decoration: none;
		transition: all 0.12s ease;
		color: #fff;
		padding: 3px 5px 2px;
	    width: 100%;
	    display: block;
	    box-sizing: border-box;
	    text-align: center;
		&:hover{
			background: darken(#3878b5, 10%);
		}
	}
}